.appContainer {
    display: flex; /* Align items in a row */
    height: 100vh; /* Full height */
}

.SideNav {
    width: 250px; /* Fixed width for the sidebar */
    background-color: #f4f4f4; /* Background color for the side navigation */
    padding: 20px; /* Padding for the sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow effect for depth */
}

.content {
    flex-grow: 1; /* Allow this div to grow and fill the remaining space */
    padding: 20px; /* Padding for the main content */
    background-color: #fff; /* Main content background color */
}
